     .errorMsg {
       color: red;
       font-size: large;
       font-weight: bold;
     }

     .imageBack {
       margin-top: 0;
       z-index: 10;
       min-height: 100vh;
       width: 100%;
       background-image: image-set(url('/cabañaBackground.avif') type('image/avif'),
           url('/cabañaBackground.webp') type('image/webp'),
           linear-gradient(0deg, rgba(91, 139, 241, 1) 0%, rgba(38, 125, 222, 1) 11%, rgba(6, 27, 48, 1) 100%));
       background-size: cover;
       background-position: center;
       background-attachment: fixed;
     }

     .colorBack {
       //reemplazar por bacgroundFormColor
       background-color: var(--bs-body-bg);
     }

     .buttonEye {
       background-color: transparent;
       border: none;
       border-radius: 1 rem;
       padding: 0.6em 1.2em;
       margin: 0.3em;
     }

     .buttonEye :active {
       border-color: none;
     }