.userStyle {
  min-width: 90%; 
  height: 55% ; 
  margin: 2rem;
}
.userButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.fixed-btn {
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
    .userStyle {
      min-width: 80%;
      max-width: 85%;
      margin:0.5rem
    }
    .userButtons {
      display: grid;
      grid-template-columns: 1fr 1fr; 
    }
  }